@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.main{
  display: flex;
  flex-direction: column;
  min-height: 91vh;

}
  
.contain{
  flex: 1;
  /* width: 100%; */
  font-family: 'Cagliostro', sans-serif;
  /* background-color: blue; */
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px){
  .main{
    min-height: 100vh;
  }

}


